body {
    color: #fff;
}

.container {
    width: 100%;
}

/* ----- Header ----- */

.header {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
}

.navbar {
    height: 86px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    width: 148px;
    height: 40px;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
}

.navbar__btn {
    display: flex;
}

.btn__language {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    line-height: 1.25rem;
    font-weight: 500;
    padding: 7px 16px;
    background: transparent;
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    color: #fff;
    margin: 0 12px;
    cursor: pointer;
}

.btn__language-icon {
    margin-right: 8px;
}

.btn__language-down {
    margin-left: 8px;
}

.btn__log {
    background-color: #e50914;
    color: #fff;
    font-size: 14px;
    line-height: 1.25rem;
    font-weight: 500;
    border-style: none;
    padding: 4px 16px;
    border-radius: 3px;
    margin-left: 12px;
    margin-right: 19px;
    cursor: pointer;
}

.btn__log a {
    color: #fff;
    text-decoration: none;
}

/* ----- content ----- */

.content__top {
    position: relative;
    height: 70rem;
}

.content__background {
    height: 100%;
}

.content__background-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__main {
    width: 100%;
    padding: 15.8rem 0 6.4rem;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
}

.content__main-toplist {
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.content__main-toplist h1 {
    font-size: 4.8rem;
    font-weight: 900;
    text-align: center;
}

.content__main-toplist p {
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 1.6rem;
}

.content__main-bottomlist {
    margin-top: 2.4rem;
}

.content__bottombar {
    width: 100%;
    height: 8px;
    position: absolute;
    background-color: rgb(35, 35, 35);
}

.bottomlist__input {
    display: flex;
    justify-content: center;
    margin: 2.4rem 0 0;
}

.bottomlist__des {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
}

.bottomlist__input-email {
    font-size: 15px;
    padding: 15px;
    width: 45%;
    background: rgb(0 0 0 / 40%);
    border: 1px solid #5f5f5f;
    border-radius: 3px;
    color: #fff;
}

.bottomlist__input-btn {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-left: 10px;
    padding: 1.2rem 2.4rem;
    border: 0px solid transparent;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(229, 9, 20, 1);
    cursor: pointer;
}

.content__feature {
    width: 100%;
    height: 100%;
}

.content__center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 0;
}

.content__desc {
    flex: 1;
    text-align: left;
    padding-right: 0.6rem;
}

.content__img {
    flex: 1;
}

.content__img-tv {
    width: 58rem;
    height: 44rem;
}

.content__desc h2 {
    font-size: 4.8rem;
    font-weight: 900;
}

.content__desc p {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 30px;
    padding-top: 16px;
}

.content__bottom {
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.content__question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 72px 0;
    width: 100%;
}

.content__question h2 {
    font-size: 48px;
    font-weight: 900;
}

.accordion {
    width: 100%;
    max-width: 750px;
}

.accordion ul {
    display: block;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}



.accordion input[type="radio"]:checked+label+.content__question-desc {
    max-height: 600px;
    padding: 24px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

/* ----- footer ----- */

.footer {
    width: 100%;
    /* height: 500px; */
    background-color: rgb(0, 0, 0);
}

.footer__container {
    padding: 60px 0;
}

.footer__heading {
    padding: 12px 0;
}

.footer__heading a {
    font-size: 1.6rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.footer__linklist {
    width: 100%;
    padding: 12px 0;
}

.footer__linklist .row {
    display: flex;
    flex-direction: row;
    padding-top: 12px;
}

.footer__linklist .col {
    flex-basis: 25%;
    flex-grow: 1;
}

.footer__linklist .col a {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.7);
    display: block;
}

.footer__btn {
    padding: 12px 0;
}

.footer__btn button {
    margin: 0;
}

.footer__container p {
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    padding: 12px 0;
}

